#summary {
    margin-top: 1rem;
}

#about_the_company {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

#price_table {
    text-align: center;
}